name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Lint & Test
        run: |
          npm run lint
          npm test

      - name: SonarCloud Scan (SAST)
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Install ZAP
        run: |
          sudo apt update
          sudo apt install -y zaproxy

      - name: Start App
        run: |
          nohup npm start &
          sleep 5

      - name: OWASP ZAP Baseline Scan (DAST)
        run: zap-baseline.py -t http://localhost:3000 -r zap-report.html

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-report.html
